/* COLOR 
Main: #black
Text: black



 */
/* GLOBAL */
body,
h1,
h2,
h3,
h4,
p,
img,
div,
span,
ul,
li,
a,
nav {
  margin: 0;
  padding: 0;
  color: rgb(34, 34, 34);
}
/* HEADER */
.header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav {
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav li {
  padding: 10px;
  padding-left: 20px;
}
.nav a {
  text-decoration: none;
}
.nav_container {
  flex: 3;
}
.hamburger {
  position: absolute;
  right: 10px;
}
.active {
  background-color: lightblue;
}
/* FOOTER */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer h3 {
  width: 100%;
  text-align: center;
}
.footer_item {
  margin: 10px;
}
.footer_hr {
  width: 200px;
  border: none;
  height: 4px;
  background: lightblue;
  margin-top: 100px;
  border-radius: 50px;
}
/* HOMEPAGE */
.heroimage {
  background-image: url("./assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroimage h1 {
  color: rgb(235, 235, 235);
  text-align: center;
}
.heroimage p {
  color: rgb(235, 235, 235);
  text-align: center;
  margin: 20px;
}
.heroimage button {
  margin: 0 auto;
  width: 140px;
  height: 40px;
  border-radius: 3px;
  background-color: lightblue;
  border: 0;
  box-shadow: 0px 0px 5px;
}

.axiomMission {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.axiomMission h2 {
  margin: 20px 50px;
  text-align: center;
}
.axiomMission p {
  margin: 30px;
}
.axiomMission img {
  max-width: 70%;
}
/* SPACE PROGRAMS*/

/* ABOUT */

/* CONTACT */

/* MEDIA QUERIES*/
@media only screen and (min-width: 600px) {
  /* Header */
  .hamburger {
    display: none;
  }

  .header {
    flex-direction: row;
  }
  .nav_container {
    margin: 0;
  }
  .nav_container > .nav {
    flex-direction: row;
    justify-content: flex-end;
    max-height: 100px !important;
  }
  .nav li {
    padding: 10px;
    border-radius: 5px;
  }
  .nav li:hover {
    background-color: rgb(113, 141, 150);
  }
  .active {
    border-bottom: 2px solid lightblue;
    background-color: transparent;
  }
  /* Axiom Mission */
  .axiomMission p {
    max-width: 700px;
  }
  .axiomMission img {
    max-width: 500px;
  }
}
