/* COLOR 
Main: #black
Text: black

 */
/* GLOBAL */
body,
h1,
h2,
h3,
h4,
p,
img,
div,
span,
ul,
li,
a,
nav {
  margin: 0;
  padding: 0;
  color: rgb(34, 34, 34);
}
/* HEADER */
.header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav {
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav li {
  padding: 10px;
  padding-left: 20px;
}
.nav a {
  text-decoration: none;
}
.nav_container {
  flex: 3;
}
.hamburger {
  position: absolute;
  right: 10px;
}
.active {
  background-color: lightblue;
}
/* FOOTER */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer h3 {
  width: 100%;
  text-align: center;
}
.footer_item {
  margin: 10px;
}
.footer_hr {
  width: 200px;
  border: none;
  height: 4px;
  background: lightblue;
  margin-top: 100px;
  border-radius: 50px;
}
/* HOMEPAGE */
.heroimage {
  background-image: url("./assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroimage h1 {
  color: rgb(235, 235, 235);
  text-align: center;
}
.heroimage p {
  color: rgb(235, 235, 235);
  text-align: center;
  margin: 20px;
}
.heroimage button {
  margin: 0 auto;
  width: 140px;
  height: 40px;
  border-radius: 3px;
  background-color: lightblue;
  border: 0;
  box-shadow: 0px 0px 5px;
}

.axiomMission {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.axiomMission h2 {
  margin: 20px 50px;
  text-align: center;
}
.axiomMission p {
  margin: 30px;
}
.axiomMission img {
  max-width: 70%;
}
/* SPACE PROGRAMS*/
.nextLaunches_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nextLaunches_Container h2 {
  width: 100%;
  text-align: center;
}
.nextLaunches_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  height: 75px;
  box-shadow: 0 0 2px;
  margin: 10px;
  padding: 20px;
}

.nextLaunches_card_table {
  border-collapse: collapse;
}
.nextLaunches_card_table * {
  padding: 10px;
  border: 1px solid black;
}
.previousLaunches_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.previousLaunches_Container h2 {
  width: 100%;
  text-align: center;
}
.previousLaunches_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /* width: 250px; */
  max-width: 80%;
  box-shadow: 0 0 2px;
  margin: 10px;
  padding: 20px;
}
.previousLaunches_card_table {
  border-collapse: collapse;
}
.previousLaunches_card_table * {
  padding: 10px;
  border: 1px solid black;
}
.previousLaunches_card_table a {
  border: 0;
}
.previousLaunches_card * {
  margin: 10px;
}
.previousLaunches_card_details {
  text-align: start;
}

/* ABOUT */
.aboutUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/images/aboutus.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 800px;
}

.aboutUs h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* CONTACT */
.contact {
  text-align: center;
}
.contact h1 {
  margin: 50px;
}
.form_message {
  text-align: center;
  font-size: x-large;
  color: green;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_form_item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact_form_label {
  margin-top: 30px;
  margin-bottom: 10px;
}
.contact_form_input {
  border: 1px solid rgb(123, 123, 123);
  border-radius: 5px;
  height: 35px;
  width: 200px;
  padding: 10px;
  font-size: medium;
}
.contact_form_textarea {
  width: 250px;
  height: 200px;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 5px;
  padding: 10px;
  font-size: medium;
  resize: none;
}
.contact_form_message {
  color: red;
}
.contact_form_button {
  margin-left: auto;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border-radius: 3px;
  background-color: lightblue;
  border: 0;
  box-shadow: 0px 0px 5px;
}
/* MEDIA QUERIES*/
@media only screen and (min-width: 600px) {
  /* Header */
  .hamburger {
    display: none;
  }

  .header {
    flex-direction: row;
  }
  .nav_container {
    margin: 0;
  }
  .nav_container > .nav {
    flex-direction: row;
    justify-content: flex-end;
    max-height: 100px !important;
  }
  .nav li {
    padding: 10px;
    border-radius: 5px;
  }
  .nav li:hover {
    background-color: rgb(113, 141, 150);
  }
  .active {
    border-bottom: 2px solid lightblue;
    background-color: transparent;
  }
  /* Axiom Mission */
  .axiomMission p {
    max-width: 700px;
  }
  .axiomMission img {
    max-width: 500px;
  }
  /* Space Programs */
  .nextLaunches_Container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nextLaunches_card {
    flex: 30%;
    width: auto;
    margin: 50px;
  }
  .previousLaunches_Container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .previousLaunches_card {
    flex: 30%;
    width: auto;
    margin: 50px;
  }
  /* Contact */
  .contact h1 {
    margin-right: 5px;
  }
  .contact_form_item {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .contact_form_label {
    margin: 0 10px 0 0;
  }
  .contact_form_input {
    height: 35px;
    width: 250px;
  }
  .contact_form_textarea {
    width: 350px;
    height: 200px;
  }
  .contact_form_button {
    position: absolute;
    right: 0;
    bottom: -70px;
  }
}
@media only screen and (min-width: 1023px) {
  /* Space Programs */
  .nextLaunches_card {
    flex: 20%;
    margin: 50px;
  }
  .previousLaunches_card {
    flex: 20%;
    margin: 50px;
  }
}
